@import url('https://fonts.cdnfonts.com/css/uber-move-text');

@tailwind base;
@tailwind components;
@tailwind utilities;


ion-toggle {
    padding: 10px;

    --track-background: #ddd;
    --track-background-checked: #ddd;

    --handle-background: #eb7769;
    --handle-background-checked: #95c34e;

    --handle-width: 28px;
    --handle-height: 25px;
    --handle-max-height: auto;
    --handle-spacing: 2px;

    --handle-border-radius: 100%;
    --handle-box-shadow: none;
}

ion-toggle::part(track) {
    height: 30px;
    width: 60px;

    /* Required for iOS handle to overflow the height of the track */
    overflow: visible;
}

.link-text {
    color: inherit;
    /* Hereda el color del texto de su contenedor */
    text-decoration: none;
    /* Evita el subrayado por defecto en los enlaces */
}

.info-window {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #333;
    text-align: center;
    background-color: #fff;
}

.info-window img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}


@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.toast-slide-in {
    animation: slideIn 0.5s forwards;
}

.toast-slide-out {
    animation: slideOut 1.5s forwards;
}


/* App.css */
.rcw-widget-container {
    --rcw-widget-bg-color: #1a202c;
    /* Cambia este valor por el color que prefieras */
}

.rcw-conversation-container {
    --rcw-message-color: #2d3748;
    /* Cambia este valor por el color que prefieras */
}

